.about-container {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
}

p.about-picture {
  max-width: 30%;
}

p.about-picture img {
  max-width: 100%;
}

.about-container .text-container {
  max-width: 70%;
  padding: 0px 30px;
  line-height: 1.5;
}

.about-container section {
  margin-bottom: 30px;
}

.about-container section p {
  margin-bottom: 10px;
}

.about-container ul {
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  .about-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  p.about-picture {
    max-width: 70%;
    margin-bottom: 30px;
  }

  .about-container .text-container {
    max-width: 100%;
    padding: 0px;
  }
}
