.blog {
  margin: 10px 30px;
}

.blog h1 {
  margin-bottom: 20px;
  text-align: center;
}

.blog header h2 {
  font-weight: normal;
  font-size: 1.1em;
}

.blog-posts-list {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.blog-posts-list li {
  margin: 10px 0px;
  list-style-type: none;
  text-align: center;
}

.blog-posts-list li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.blog-posts-list-item {
  /* padding: 0; */
  width: 100%;
  padding: 40px;
  display: inline-block;
  /* box-shadow: 0px 1px 10px lightgray; */
  /* box-shadow: 0px 1px 1px lightgray; */
  max-width: 100%;
  text-align: left;
}

/*.blog-posts-list-item .nuxt-content {*/
/*margin: 20px 0;*/
/*}*/

.blog-posts-list-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.blog-posts-list-item h4 {
  margin-bottom: 20px;
}

.blog-posts-list-item a {
  text-decoration: none;
}

.blog-posts-list-item a:hover {
  text-decoration: underline;
}

.blog-posts-list-item p a {
  color: blue;
}

.blog-posts-list-item img {
  max-width: 60vw;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 2px lightgray;
  display: block;
  margin: 50px auto;
}

.blog-posts-list-item p {
  margin-bottom: 20px;
}

.blog-posts-list-item p code {
  background: lightgray !important;
  padding: 2px 5px;
  color: black;
  border-radius: 5px;
}

.blog-posts-list-item .nuxt-content-highlight {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-posts-list-item .nuxt-content-highlight .filename {
  background: #263238;
  color: white;
  display: block;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 14px;
}

.blog-posts-list-item pre {
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  .blog-posts-list-item {
    padding: 0px;
  }
}

/* retro mode */

.retro-mode .blog-posts-list-item a {
  text-decoration: underline;
  color: blue;
}

.retro-mode .blog-posts-list-item {
  border-bottom: none;
}

.retro-mode .blog-posts-list li:not(:last-child) {
  border-bottom: 0px;
}

.retro-mode .blog-posts-list li:not(:last-child):after {
  content: url("/assets/separator.gif");
  max-width: 100%;
  overflow: hidden;
  display: block;
}
