.blog-posts-list {
  margin: 0;
  padding: 0;
}

.blog-posts-list li.blog-posts-list-item {
  margin: 10px 0px;
  list-style-type: none;
  text-align: center;
}

.blog-posts-list li.blog-posts-list-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.blog-post {
  line-height: 1.5;
  /* padding: 0; */
  width: 100%;
  /*padding: 40px;*/
  display: inline-block;
  /* box-shadow: 0px 1px 10px lightgray; */
  /* box-shadow: 0px 1px 1px lightgray; */
  max-width: 100%;
  text-align: left;
}

.blog-post img {
  max-width: 60vw;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 2px lightgray;
  display: block;
  margin: 50px auto;
}

.blog-post p {
  margin-bottom: 20px;
}

/* Code not with syntax highlight */
.blog-post :not(pre) code {
  background: lightgray !important;
  padding: 2px 5px;
  color: black;
  border-radius: 5px;
}

.blog-post pre {
  margin-bottom: 20px;
}

.blog-post ul {
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  .blog-posts-list-item {
    padding: 0px;
  }
}

/* retro mode */

.retro-mode .blog-post {
  border-bottom: none;
}

.retro-mode .blog-posts-list li.blog-posts-list-item:not(:last-child) {
  border-bottom: 0px;
}

.retro-mode .blog-posts-list li.blog-posts-list-item:not(:last-child):after {
  content: url("/assets/separator.gif");
  max-width: 100%;
  overflow: hidden;
  display: block;
}
