html {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: green;
}

html,
body {
  width: 100%;
  height: 100%;
  background: url("/assets/tile1.gif");
}

html.retro-mode {
  font-family: "Comic Sans MS";
  background: black;
  background: url("/assets/stars-background.jpg");
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.default-layout {
  min-height: 100%;
}

.default-layout header {
  text-align: center;
  margin-top: 0.5em;
}

.default-layout nav {
  display: inline-block;
  background: white;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid lightgray;
  border-top: 5px solid lightgray;
  font-size: 1.2em;
  font-family: "Times New Roman";
  margin-bottom: 0.6em;
}

.default-layout nav a {
  display: inline-block;
  text-align: center;
  margin: 0.5em;
}

.default-layout nav div img {
  display: block;
  margin-bottom: 0.6em;
}

.default-layout nav div span {
  display: block;
}

.default-layout header > div {
  margin: 0 auto;

  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid lightgray;
  border-top: 5px solid lightgray;
  background: white;
  width: 65vw;
  margin-bottom: 0.5em;
  font-family: "Times New Roman";
  padding: 0.7em;
  text-align: center;
}

.default-layout header > div h1 {
  margin-bottom: 0.2em;
  /*color: red;*/
  /*color: blue;*/
  /*color: indigo;*/
  color: brown;
  text-shadow: 1px 1px black;
}

.default-layout header > div h2 {
  text-transform: lowercase;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 20px;
}

main {
  margin: 0 auto;

  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid lightgray;
  border-top: 5px solid lightgray;
  background: white;
  width: 95vw;
  padding: 2em;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  margin-bottom: 2em;
  color: white;
  text-shadow: 1px 1px black;
}

footer a {
  background: white;
  color: black;
  text-shadow: none;
}

footer .buttons {
  margin-bottom: 1em;
}

footer .disclaimer {
  padding: 0.7em;
}

footer p {
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
  .default-layout span.name-title:after,
  .default-layout nav:after {
    content: "";
    margin: 0;
  }
}
