.profile-container {
  font-family: "Times New Roman";
  border: 4px ridge lightgray;
}

.top-row {
  border-bottom: 4px ridge lightgray;
}

.bottom-row {
  display: grid;
  grid-template-columns: [first] 50% [second] 50%;
  grid-template-rows: [first] 100%;
}

.profile h1 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}

.profile .left-column {
  border-right: 4px ridge lightgray;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
  text-transform: lowercase;
}

.right-column .work {
  text-align: center;
  padding: 0.5em;
}

.right-column .status {
  text-align: center;
  border-top: 4px ridge lightgray;
  font-size: 1.2em;
  padding: 0.5em;
  /*text-transform: lowercase;*/
}

.right-column .status img {
  vertical-align: middle;
}

.right-column .status ul {
  display: inline-block;
  vertical-align: middle;
}

.right-column .status ul li {
  text-align: left;
}

.title {
  display: block;
}

.subtitle {
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
  text-shadow: 2px solid red;
}

.links-container {
  border-top: 4px ridge lightgray;
  text-align: center;
  font-size: 1.2em;
  text-transform: lowercase;
  padding: 0.5em;
}

.links-container ul {
  text-align: left;
  display: inline-block;
  padding-left: 0;
}

.status-title,
.links-title {
  text-transform: lowercase;
  font-style: italic;
}

.links {
  padding-top: 15px;
}

.links a {
  margin: 10px;
}

.profile-pic {
  max-width: 50%;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  .bottom-row {
    width: 100%;
    display: grid;

    grid-template-columns: [first] 100%;
    grid-template-rows: [first] 50% [second] auto;
    /*row-gap: 20px;*/
    /*column-gap: 0px;*/

    margin: 0 auto;
  }

  .profile .left-column {
    border-bottom: 4px ridge lightgray;
    border-right: 0px;
  }

  .profile h1,
  .profile h2,
  .profile h3 {
    text-align: center;
  }
}

@media only screen and (max-height: 720px) {
  .profile-container {
    height: auto;
  }
}
