.project-entry {
  /* max-width: 80vw; */
  /*max-width: 85vw;*/
  margin: 0 auto;
}

.project-image {
  text-align: center;
  margin-bottom: 20px;
}

.project-entry img {
  max-width: 50vw;
  border-radius: 2px;
  box-shadow: 0px 3px 8px gray;
}

.project-entry .links {
  text-align: center;
  margin-bottom: 30px;
}

.project-entry .links a {
  text-decoration: none;
  border: 1px solid #35495e;
  background: white;
  color: black;
  padding: 5px 15px;
  border-radius: 2px;
  font-size: 0.8em;
}

.project-entry .links a:hover {
  text-decoration: none;
  background: #35495e;
  color: white;
}

.project-content{
  font-size: 1.2em;
  font-size: 1em;
  max-width: 60vw; 
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
}

.project-entry p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  .project-entry img {
    max-width: 100%;
    border-radius: 2px;
    box-shadow: 0px 3px 8px gray;
  }

  .project-content {
    max-width: 100%;
  }
}
