---
layout: page.njk
---

<h1>Blog</h1>
<ul class="blog-posts-list">
  {%- for post in collections.posts reversed -%}
    <li class="blog-posts-list-item">
      <article class="blog-post">
        <a href="{{ post.url }}">
          <h3>{{ post.data.title }}</h3>
        </a>
        {{ post.content }}
      </article>
    </li>
  {%- endfor -%}
</ul>
