---
layout: default.njk
---

<section class="profile">
		<div class="left-column">
		<img
			class="profile-pic"
			src="/assets/profile-pic.jpg"
			alt="A picture of Jorge García Hinestrosa"
		/>
		</div>
		<div class="right-column">
		  <div class="work">
				<h2 class="subtitle">Computer Science Engineer</h2>
				<img src="assets/computer.gif" alt="A programmer typing on a computer"/>
			</div>
			<div class="status">
				<h3 class="status-title">Current status</h3>
				<ul>
					<li><span class="bold">Working as:</span> Tech Lead and Software Developer</li>
					<li><span class="bold">Focused on:</span> Smart TVs, Web</li>
					<li><span class="bold">Located at:</span> Barcelona, Spain</li>
				</ul>
				<img src="assets/tv2.gif" alt="A TV being smashed with a hammer"/>
			</div>
		<div class="links-container">
    <h3 class="links-title">Links of interest</h3>
		<div>
			<img src="/assets/email.gif" alt="Two computers sending and receiving emails"/>
		</div>
    <ul>
      <li>
        <a
          href="https://github.com/jghinestrosa"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
      <li>
        <a
          href="https://mastodon.social/@jghinestrosa"
          target="_blank"
          rel="noopener noreferrer"
          >Mastodon</a
        >
      </li>
      <li>
        <a
          href="https://twitter.com/jghinestrosa"
          target="_blank"
          rel="noopener noreferrer"
          >Twitter</a
        >
      </li>
      <li>
        <a
          href="https://codepen.io/jghinestrosa/"
          target="_blank"
          rel="noopener noreferrer"
          >CodePen</a
        >
      </li>
    </ul>
		</div>
</div>
</section>
