---
layout: default.njk
---

<main class="profile-container">
      <section class="profile">
        <img
          class="profile-pic"
          src="/assets/profile-pic.jpg"
          alt="A picture of Jorge García Hinestrosa"
        />
        <div class="profile-text">
          <h1 class="title">Jorge García Hinestrosa</h1>
          <h2 class="subtitle">Computer Science Engineer</h2>
          <ul>
            <li><span class="bold">Working as:</span> Software Developer</li>
            <li><span class="bold">Focused on:</span> Web, SmartTVs</li>
            <li><span class="bold">Located at:</span> Barcelona, Spain</li>
          </ul>
					<h2>{{ retroMode }}</h2>
          <h3 class="links-title">Links of interest:</h3>
          <ul>
            <li>
              <a
                href="https://github.com/jghinestrosa"
                target="_blank"
                rel="noopener noreferrer"
                >GitHub</a
              >
            </li>
            <li>
              <a
                href="https://mastodon.social/@jghinestrosa"
                target="_blank"
                rel="noopener noreferrer"
                >Mastodon</a
              >
            </li>
            <li>
              <a
                href="https://twitter.com/jghinestrosa"
                target="_blank"
                rel="noopener noreferrer"
                >Twitter</a
              >
            </li>
            <li>
              <a
                href="https://codepen.io/jghinestrosa/"
                target="_blank"
                rel="noopener noreferrer"
                >CodePen</a
              >
            </li>
          </ul>
					<retro-mode></retro-mode>
        </div>
      </section>
    </main>


