---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - project
permalink: "blog/tags/{{ tag | slugify }}/"
layout: layouts/default.njk
---

{% set blogpostslist = collections[tag] %}
{% include "partials/blogpostslist.njk" %}
