<!doctype html>
<html lang="en">
  <head>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌵</text></svg>">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
		<link href="/css/default.css" rel="stylesheet" />
		<link href="/css/home.css" rel="stylesheet" />
		<link href="/css/about.css" rel="stylesheet" />
		<link href="/css/projects.css" rel="stylesheet" />
		<link href="/css/project.css" rel="stylesheet" />
		<link href="/css/blog.css" rel="stylesheet" />
		<link href="/css/post.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge García Hinestrosa</title>
		{%- js %}
			const retroMode = JSON.parse(localStorage.getItem('retroMode')) || false;
			const htmlElement = document.querySelector('html');

			if (retroMode) {
				htmlElement.classList.add('retro-mode');
			} else {
				htmlElement.classList.remove('retro-mode');
			}
		{% endjs %}
  </head>
  <body>
	<div class="default-layout">
    <header>
			<span class="name-title">{{ headerName }}</span>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
      </nav>
		{% renderTemplate "webc" %}
		<retro-mode></retro-mode>
		{% endrenderTemplate %}
    </header>
		{{ content | safe }}
    <footer><span>:wq</span></footer>
		<script>{% getBundle "js" %}</script>
  </div>
  </body>
</html>
